[Unit]
Description="This is dezetralized file storage service"
[Service]
Type=simple
EnvironmentFile=/home/batman/Documents/GitHub/share-files/.env
ExecStart=/home/batman/Documents/GitHub/share-files/dfs
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
